<head>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script>
        var data = [
            {Name: "TV", Price: 45000.55},
            {Name: "Nike Casuals", Price: 5500.98}
            ];
            $(document).ready(function(){
                $.each(data, function(key, value){
                    $(`<tr><td>${value.Name}</td><td>${value.Price}</td></tr>`).appendTo("#tblBody");
                })
            })
    </script>

</head>
<body>
    <table width="400" border="2px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="tblBody">

        </tbody>

    </table>
</body>