<head>
    <script src="../node_modules/jquery/dist/jquery.js">
    </script>
    <script>
        $(document).ready(function(){
            $("#show").click(function(){
                $("#pic").slideDown('slow');
            })
            $("#hide").click(function(){
                $("#pic").slideUp(2000);
            })
            $("#toggle").click(function(){
                $("#pic").slideToggle('slow');
            })
        })
    </script>

</head>
<body>
    <fieldset>

        <legend>JQUERY EFFECTS</legend>
        <div>
            <button id="show">Show</button>
            <button id="hide">Hide</button>
            <button id="toggle">Toggle</button>
        </div>
    </fieldset>
    <div id="pic" style="margin-top: 20px;">
    <img src="../cooperBoot.jpg" width="400" height="200">
    </div>
</body>