<script src="login.js"></script>
<h1>Login</h1>
<p>
    <span>uid:</span><input />
</p>
<p>
    <span>password:</span><input type="password" />
</p>
<p>
    <input type='button' value="login" onclick="fnLogin()" />
    <a href="register.html">Go to register</a>
</p>
<p>
    <span></span>
</p>
